body{
    border-spacing:10px ;
    border-collapse:separate;
    background-image: url("https://www.runnersworld.com/sites/runnersworld.com/files/styles/listicle_slide_custom_user_phone_1x/public/bordercollie1.jpg?itok=CZ01kN2v");
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}
table,th,td,tr{
    border:1px solid black;
    padding: 20px;
}

.well{
    background-color: greenyellow;

}
