<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pet Form</title>
</head>
<body>

<form action="#" th:action="@{/process}" th:object="${pet}" method="post">
<input type="hidden" th:field="*{id}"/>

    PetName:<input type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>

    PetsAge:<input type="number"  th:field="*{age}"/>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span><br/>


    PetsType:<input type="text"  th:field="*{type}"/>
    <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span><br/>

    PetsBreed:<input type="text"  th:field="*{breed}"/>
    <span th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}"></span><br/>

    PetsColor:<input type="text"  th:field="*{color}"/>
    <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></span><br/>

    PetsFeature:<input type="text"  th:field="*{feature}"/>
    <span th:if="${#fields.hasErrors('feature')}" th:errors="*{feature}"></span><br/>

    PetsOwner#:<input type="number"  th:field="*{ownersphoneNumber}"/>
    <span th:if="${#fields.hasErrors('ownersphoneNumber')}" th:errors="*{ownersphoneNumber}"></span><br/>

    <input type="submit" value="Submit"/>

</form>

</body>
</html>