<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of Pets</title>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="CSS/style.css"/>

</head>
<body>
<nav class="navbar navbar-inverse">

    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#my-collapsible-navbar" aria-expanded="false">

                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-envelope"></span>


            </button>

            <a class="navbar-brand">Lost Pets</a>
        </div>

        <div class="collapse navbar-collapse" id="my-collapsible-navbar">
            <ul class="nav navbar-nav">
                <li> <a class="navbar-brand" href="/add">Add a Pet Lost</a></li>
                <li><a class="navbar-brand" href="/detail">Show Pets Lost</a></li>
                <li><a class="navbar-brand" href="/mainpage">Main Page</a></li>





            </ul>

        </div>

    </div>
</nav>

<div class="container">

<!--<a href="/add">Add a Pet</a><br/>-->
    <div class="well">
<table>
    <tr>
        <th >
            Pet Name
        </th><br/>
        <th>
            Pet Age
        </th><br/>
        <th>
            Pet type
        </th><br/>
        <th>
           pets breed
        </th><br/>

        <th>
            pets Colour
        </th><br/>
        <th>
            Distinguishing Feature
        </th><br/>
        <th>
            Contact Number of the owner
        </th><br/>
        <th>
            Pet Status
        </th>




    </tr>
    <tr th:each="pet:${pets}">
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.age}"></td>
        <td th:text="${pet.type}"></td>
        <td th:text="${pet.breed}"></td>
        <td th:text="${pet.color}"></td>
        <td th:text="${pet.feature}"></td>
        <td th:text="${pet.ownersphoneNumber}"></td>
        <td th:text="${pet.petStatus}"></td>
        <td>
            <tr><a th:href="@{/update/{id}(id=${pet.id})}">Modify</a></tr>
           <tr><a th:href="@{/petdetail/{id}(id=${pet.id})}">Pet Details</a></tr>
           <tr><a th:href="@{/delete/{id}(id=${pet.id})}">Delete</a></tr>

        </td>
    </tr>




</table>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

</body>
</html>